body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: red;
}

.topnav .icon {
  display: none;
}


pre{
  color:red;
  font-family: helvetica;

}
</style>

