body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  color: red;
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:link {
  background-color: red;
  color: red;
}

a:visited {
  background-color: red;
  color: red;
}

a:active {
  background-color: red;
  font-color: red;
}

.navbar{
  color:red;
}



.topnav .icon {
  display: none;
}


pre{
  color:red;
  font-family: helvetica;

}
</style>

